mat-dialog-content {
  background-color: #f4f4f4;
  text-align: center;
  min-height: 470px;
  p {
    margin-top: 10px;
  }
}

.close-icon {
  background-color: #d0e7f8;
  position: absolute;
  top: 15px;
  right: 15px;
}

mat-dialog-actions {
  background-color: #f4f4f4;
  justify-content: flex-end;
  button {
    margin: 0 5px;
  }
}
