<div class="content">
  <h3 style="text-align: center">Runs Management</h3>

  <!-- Descriptive Text -->
  <div class="description">
    <p>
      Running is an excellent way to stay fit and maintain your health. Use this
      tool to track your runs and manage your progress. You can log your runs by
      adding details such as the title, miles, location, and the dates (and
      times) when you started and completed the run. Keep an eye on your running
      history for improvements over time!
    </p>
  </div>

  <div class="card-container">
    <!-- All Runs Card -->
    <mat-card class="runs-card">
      <mat-card-header>
        <mat-card-title>All Runs</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <table mat-table [dataSource]="runs" class="runs-table">
          <!-- Title Column -->
          <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef>Title</th>
            <td mat-cell *matCellDef="let run">{{ run.title }}</td>
          </ng-container>

          <!-- Miles Column -->
          <ng-container matColumnDef="miles">
            <th mat-header-cell *matHeaderCellDef>Miles</th>
            <td mat-cell *matCellDef="let run">{{ run.miles }}</td>
          </ng-container>

          <!-- Location Column -->
          <ng-container matColumnDef="location">
            <th mat-header-cell *matHeaderCellDef>Location</th>
            <td mat-cell *matCellDef="let run">{{ run.location }}</td>
          </ng-container>

          <!-- Started On Column -->
          <ng-container matColumnDef="startedOn">
            <th mat-header-cell *matHeaderCellDef>Started On</th>
            <td mat-cell *matCellDef="let run">
              {{ run.startedOn | date : "short" }}
            </td>
          </ng-container>

          <!-- Completed On Column -->
          <ng-container matColumnDef="completedOn">
            <th mat-header-cell *matHeaderCellDef>Completed On</th>
            <td mat-cell *matCellDef="let run">
              {{ run.completedOn | date : "short" }}
            </td>
          </ng-container>

          <!-- Actions Column -->
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Actions</th>
            <td mat-cell *matCellDef="let run">
              <div class="action-icons">
                <button mat-icon-button color="primary" (click)="editRun(run)">
                  <mat-icon>edit</mat-icon>
                </button>
                <button
                  mat-icon-button
                  color="warn"
                  (click)="deleteRun(run.id)"
                >
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </mat-card-content>

      <div *ngIf="runsLoading" class="loading-spinner">
        <mat-spinner
          [diameter]="34"
          [strokeWidth]="4"
          [color]="'primary'"
          [mode]="'indeterminate'"
        ></mat-spinner>
      </div>

      <mat-card-actions>
        <button mat-raised-button color="primary" (click)="loadRuns(true)">
          Reload Runs
        </button>
      </mat-card-actions>
    </mat-card>

    <!-- Create Run Card -->
    <mat-card class="create-run-card">
      <mat-card-header>
        <mat-card-title>Create New Run</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <form [formGroup]="createRunForm">
          <div class="form-group">
            <br />
            <label for="title" class="input-description">Title</label>
            <br />
            <br />
            <input
              id="title"
              formControlName="title"
              placeholder="Enter Title"
            />
          </div>

          <div class="form-group">
            <br />
            <label for="miles" class="input-description">Miles</label>
            <br />
            <br />
            <input
              id="miles"
              type="number"
              formControlName="miles"
              placeholder="Enter Miles"
            />
          </div>

          <div class="form-group">
            <br />
            <label for="location" class="input-description">Location</label>
            <br />
            <br />
            <mat-form-field appearance="fill">
              <mat-label>Select Location</mat-label>
              <mat-select formControlName="location">
                <mat-option value="INDOOR">Indoor</mat-option>
                <mat-option value="OUTDOOR">Outdoor</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div>
            <label for="startedOn" class="input-description">Started On</label>
            <br />
            <br />
            <mat-form-field appearance="fill">
              <input
                matInput
                [ngxMatDatetimePicker]="startedOnPicker"
                formControlName="startedOn"
                placeholder="Select Start Date and Time"
                [max]="maxDate"
                readonly
              />
              <ngx-mat-datetime-picker
                #startedOnPicker
                type="datetime"
              ></ngx-mat-datetime-picker>
              <ngx-mat-datepicker-toggle
                [for]="startedOnPicker"
                matSuffix
              ></ngx-mat-datepicker-toggle>
            </mat-form-field>
          </div>

          <div>
            <label for="completedOn" class="input-description"
              >Completed On</label
            >
            <br />
            <br />
            <mat-form-field appearance="fill">
              <input
                matInput
                [ngxMatDatetimePicker]="completedOnPicker"
                formControlName="completedOn"
                placeholder="Select Completed Date and Time"
                [max]="maxDate"
                readonly
              />
              <ngx-mat-datetime-picker
                #completedOnPicker
                type="datetime"
              ></ngx-mat-datetime-picker>
              <ngx-mat-datepicker-toggle
                [for]="completedOnPicker"
                matSuffix
              ></ngx-mat-datepicker-toggle>
            </mat-form-field>
          </div>
        </form>
      </mat-card-content>

      <div *ngIf="createRunLoading" class="loading-spinner">
        <mat-spinner
          [diameter]="34"
          [strokeWidth]="4"
          [color]="'primary'"
          [mode]="'indeterminate'"
        ></mat-spinner>
      </div>

      <mat-card-actions>
        <button mat-raised-button color="primary" (click)="onSubmitRun()">
          Create Run
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
